.table-header {
  background-color: #b5a879;
}

.container {
  position: relative;
}

table tr:hover {
  background-color: #f2e6c2;
  cursor: pointer;
}

.button-container {
  text-align: center;
  margin-top: 20px;
}
