<div class="container-btn">
  <div class="container-btn-2">
    <button type="button" class="btn btn-danger details-btn" (click)="goBack()">Back</button>
    <button type="button" class="btn btn-primary details-btn" (click)="showContainer = true">Show all details</button>
  </div>
</div>

<div style="text-align: center">
  <h1>{{ character.name }}</h1>
</div>

<div *ngIf="showContainer" class="container">
  <div>
    <img mat-card-image [src]="character.image" alt="{{ character.name }}" />
  </div>
  <div>
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Name</mat-panel-title>
          <mat-panel-description>{{ character.name }}</mat-panel-description>
        </mat-expansion-panel-header>
        <mat-list>
          <mat-list-item>
            <span mat-line>Species: {{ character.species }}</span>
          </mat-list-item>
          <mat-list-item>
            <span mat-line>Gender: {{ character.gender }} </span>
          </mat-list-item>
          <mat-list-item>
            <span mat-line>House: {{ character.house }}</span> 
          </mat-list-item>
          <mat-list-item>
            <span mat-line>Date of Birth: {{ character.dateOfBirth }}</span>
          </mat-list-item>
          <mat-list-item>
            <span mat-line>Year of Birth: {{ character.yearOfBirth }}</span> 
          </mat-list-item>
          <mat-list-item>
            <span mat-line>Wizard: {{ character.wizard }}</span> 
          </mat-list-item>
          <mat-list-item>
            <span mat-line>Ancestry: {{ character.ancestry }}</span> 
          </mat-list-item>
          <mat-list-item>
            <span mat-line>Eye colour: {{ character.eyeColour }}</span> 
          </mat-list-item>
          <mat-list-item>
            <span mat-line>Hair colour: {{ character.hairColour }}</span>
          </mat-list-item>
          <mat-list-item>
            <span mat-line>Patronus: {{ character.patronus }}</span>
          </mat-list-item>
          <mat-list-item>
            <span mat-line>Hogwarts Student: {{ character.hogwartsStudent }}</span>
          </mat-list-item>
          <mat-list-item>
            <span mat-line>Hogwarts Staff: {{ character.hogwartsStaff }}</span>
          </mat-list-item>
          <mat-list-item>
            <span mat-line>Actor: {{ character.actor }}</span>
          </mat-list-item>
          <mat-list-item>
            <span mat-line>Alive: {{ character.alive }}</span>
          </mat-list-item>
        </mat-list>
      </mat-expansion-panel>
    </mat-accordion>
    
  </div>
</div>
